<h1><%= @genre.name %></h1>
<% @movies.each do |movie| %>
  <p><strong>Título:</strong> <%=movie.title%></p>
  <p><strong>Lançamento:</strong> <%=movie.released_at%></p>
  <p><strong>Sinopse:</strong> <%=movie.synopsis%></p>
  <p><strong>País de origem:</strong> <%=movie.country%></p>
  <p><strong>Duração:</strong> <%=movie.duration%> <span>minutos</span></p>
  <p><strong>Diretor:</strong> <%=movie.director.name%></p>
<%end%>
