<h1><%= @director.name %></h1>
<h2>Biografia:</h2>
<div>
  <p><strong>Nacionalidade:</strong><%= @director.nationality%></p>
  <p><strong>Nasceu em:</strong><%= @director.date_of_birth%></p>
  <p><strong>Gênero favorito:</strong><%= @director.favorite_genre%></p>
</div>
<h2>Filmes que dirigiu:</h2>
<div>
  <% @movies.each do |movie| %>
    <p><strong>Título:</strong> <%=movie.title%></p>
    <p><strong>Lançamento:</strong> <%=movie.released_at%></p>
    <p><strong>Sinopse:</strong> <%=movie.synopsis%></p>
    <p><strong>País de origem:</strong> <%=movie.country%></p>
    <p><strong>Duração:</strong> <%=movie.duration%> <span>minutos</span></p>
  <%end%>
</div>

<%= link_to 'Editar', "/directors/"+@director.id.to_s+"/edit"  %>
